<button class="btn btn-primary" (click)="goBack()">Back</button>

<h2>Product Details and list of statements</h2>


<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="m-tb-10">
    <div> Account Number : {{productDetailObj.accountNumber}}</div>
    <div> Account Balance : {{productDetailObj.accountBalance}}</div>
    <div> Created Time : {{productDetailObj.createdTime}}</div>
</div>

<h2>Last 10 transactions</h2>


<div>
        <div *ngFor="let statement of accountStatementList;let i = index;trackBy:trackByStatementId">
            <div class="statement" (click)="gotoStatementInfo(statement._id)">Statement - {{i+1}} | {{statement.comment}} | {{statement.amount}} </div>
        </div>
</div>